html,
body,
#root {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #090909;
  /* cursor: none; */
}
.background-element-small {
  width: 40vh;
  height: 160vh;
  border-radius: 100%;
  background-color: #fefeff29;
  filter: blur(100px);
  opacity: 1;
  position: absolute;
  left: 170vh;
  margin-top: -77.5vh;
  transform: rotate(40deg);
  z-index: 1;
}
.background-element-grid-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 60vh;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.01) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: 1;
}
